<p id="notice"><%= notice %></p>

 

<h2><%= link_to 'Room List', rooms_path %></h2>

<table>
  <thead>
    <tr>
      <th>Start Date and Time</th>
      <th>End Date and Time</th>
      <th>Room Number</th>
      <!-- <th>User</th> -->
      <th>Cancel</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.sdate %></td>
        <td><%= booking.enddate %></td>
        <td><%= booking.room_id %></td>
        
        <!-- <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td> -->
        <td><%= link_to 'Cancel', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%#= link_to 'New Booking', new_booking_path %> -->
